In [1]:
import pandas as pd
from IPython.display import Markdown as md
from school_data import schools, ui, exams

In [2]:
df = schools.load_school_demographics()

In [3]:
ela_df = exams.load_ela()
ela_df

,dbn,grade,year,category,number_tested,mean_scale_score,level_1_n,level_1_pct,level_2_n,level_2_pct,level_3_n,level_3_pct,level_4_n,level_4_pct,level_3_4_n,level_3_4_pct,test_year,ay,charter
0,01M015,3,2013,All Students,27,289.296295,14.0,51.851852,11.0,40.740742,2.0,7.407407,0.0,0.0,2.0,7.407407,2013,2012,False
7,01M015,4,2013,All Students,20,277.649994,8.0,40.000000,11.0,55.000000,1.0,5.000000,0.0,0.0,1.0,5.000000,2013,2012,False
14,01M015,5,2013,All Students,24,283.958344,12.0,50.000000,11.0,45.833332,1.0,4.166667,0.0,0.0,1.0,4.166667,2013,2012,False
21,01M015,All Grades,2013,All Students,71,284.211273,34.0,47.887325,33.0,46.478874,4.0,5.633803,0.0,0.0,4.0,5.633803,2013,2012,False
32826,01M015,3,2013,Not SWD,19,287.157898,11.0,57.894737,8.0,42.105263,0.0,0.000000,0.0,0.0,0.0,0.000000,2013,2012,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5326,84X730,3,2019,All Students,51,602.000000,2.0,3.900000,22.0,43.100000,23.0,45.100000,4.0,7.8,27.0,52.900000,2019,2018,True
5333,84X730,4,2019,All Students,49,591.000000,18.0,36.700000,14.0,28.600000,13.0,26.500000,4.0,8.2,17.0,34.700000,2019,2018,True
5340,84X730,5,2019,All Students,53,597.000000,18.0,34.000000,20.0,37.700000,8.0,15.100000,7.0,13.2,15.0,28.300000,2019,2018,True
5341,84X730,6,2019,All Students,113,592.000000,45.0,39.800000,33.0,29.200000,23.0,20.400000,12.0,10.6,35.0,31.000000,2019,2018,True
5348,84X730,All Grades,2019,All Students,266,594.000000,83.0,31.200000,89.0,33.500000,67.0,25.200000,27.0,10.2,94.0,35.300000,2019,2018,True

In [4]:
math_df = exams.load_ela()
math_df

,dbn,grade,year,category,number_tested,mean_scale_score,level_1_n,level_1_pct,level_2_n,level_2_pct,level_3_n,level_3_pct,level_4_n,level_4_pct,level_3_4_n,level_3_4_pct,test_year,ay,charter
0,01M015,3,2013,All Students,27,289.296295,14.0,51.851852,11.0,40.740742,2.0,7.407407,0.0,0.0,2.0,7.407407,2013,2012,False
7,01M015,4,2013,All Students,20,277.649994,8.0,40.000000,11.0,55.000000,1.0,5.000000,0.0,0.0,1.0,5.000000,2013,2012,False
14,01M015,5,2013,All Students,24,283.958344,12.0,50.000000,11.0,45.833332,1.0,4.166667,0.0,0.0,1.0,4.166667,2013,2012,False
21,01M015,All Grades,2013,All Students,71,284.211273,34.0,47.887325,33.0,46.478874,4.0,5.633803,0.0,0.0,4.0,5.633803,2013,2012,False
32826,01M015,3,2013,Not SWD,19,287.157898,11.0,57.894737,8.0,42.105263,0.0,0.000000,0.0,0.0,0.0,0.000000,2013,2012,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5326,84X730,3,2019,All Students,51,602.000000,2.0,3.900000,22.0,43.100000,23.0,45.100000,4.0,7.8,27.0,52.900000,2019,2018,True
5333,84X730,4,2019,All Students,49,591.000000,18.0,36.700000,14.0,28.600000,13.0,26.500000,4.0,8.2,17.0,34.700000,2019,2018,True
5340,84X730,5,2019,All Students,53,597.000000,18.0,34.000000,20.0,37.700000,8.0,15.100000,7.0,13.2,15.0,28.300000,2019,2018,True
5341,84X730,6,2019,All Students,113,592.000000,45.0,39.800000,33.0,29.200000,23.0,20.400000,12.0,10.6,35.0,31.000000,2019,2018,True
5348,84X730,All Grades,2019,All Students,266,594.000000,83.0,31.200000,89.0,33.500000,67.0,25.200000,27.0,10.2,94.0,35.300000,2019,2018,True