Pandas Basics
=============

This notebooke file shows you some of the basic techniques for using
`pandas` to load work with the open data from the NYC data portal

It covers:

- loading .csv data from the portal into a `DataFrame`
- use `head()`, `tail()`, and `columns` to understand the data
- access column `Series` by name using index notation
- use `unique()`, `min()`, `max()`, `sum()`, and `mean()` to understand series data

In [1]:
# import the pandas library and call it `pd`
# pd is the convention for pandas and will be used
# in online examples and official docs
import pandas as pd

In the next cell we load the school demographic data snapshot from:

https://data.cityofnewyork.us/Education/2020-2021-Demographic-Snapshot-School/vmmu-wj3w

This URL is copy-pasted from the API tab
and the data type is set to CSV
we append `?$limit=1000000` to the URL to indicate that we want 1,000,000 rows of data
otherwise we won't get the whole dataset for larger data sets.

We call `pd.read_csv` to load the networked data and convert it into a `DataFrame`.
We name the variable `df` -- which is the convention for a dataframe in many docs.

Obviously, if we have more than one dataframe we will give it a meaningful name.

In [2]:
url = "https://data.cityofnewyork.us/resource/vmmu-wj3w.csv?$limit=1000000"
df = pd.read_csv(url)

In the next section we describe the data. 
If we display `df` notebook shows us some of the data from 
the start of the data set and some from the end.

The the `columns` property shows us the names of the cols in our `df`.

If we call `df.head()` we get the start of the data. `df.tail()` shows us the end of the data.

In [3]:
display(df)
display(df.columns)
display(df.head())
display(df.tail())

,dbn,school_name,year,total_enrollment,grade_3k_pk_half_day_full,grade_k,grade_1,grade_2,grade_3,grade_4,...,white_1,missing_race_ethnicity_data,missing_race_ethnicity_data_1,students_with_disabilities,students_with_disabilities_1,english_language_learners,english_language_learners_1,poverty,poverty_1,economic_need_index
0,01M015,P.S. 015 Roberto Clemente,2016-17,178,17,28,33,27,31,24,...,0.022000,0,0.000000,51,0.287000,12,0.067,152,85.4%,88.2%
1,01M015,P.S. 015 Roberto Clemente,2017-18,190,17,28,32,33,23,31,...,0.032000,0,0.000000,49,0.258000,8,0.042,161,84.7%,89.0%
2,01M015,P.S. 015 Roberto Clemente,2018-19,174,13,20,33,30,30,20,...,0.034000,0,0.000000,39,0.224000,8,0.046,147,84.5%,88.8%
3,01M015,P.S. 015 Roberto Clemente,2019-20,190,14,29,28,38,33,29,...,0.047000,0,0.000000,46,0.242000,17,0.089,155,81.6%,86.7%
4,01M015,P.S. 015 Roberto Clemente,2020-21,193,17,29,29,27,30,32,...,0.057000,0,0.000000,43,0.223000,21,0.109,158,81.9%,85.6%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9164,84X730,Bronx Charter School for the Arts,2016-17,320,0,53,53,55,52,53,...,0.009375,0,0.000000,67,0.209375,51,0.159,235,73.4%,84.0%
9165,84X730,Bronx Charter School for the Arts,2017-18,314,0,50,51,54,51,52,...,0.003185,0,0.000000,68,0.216561,57,0.182,258,82.2%,89.1%
9166,84X730,Bronx Charter School for the Arts,2018-19,430,0,49,54,49,54,51,...,0.006977,0,0.000000,103,0.239535,71,0.165,363,84.4%,88.8%
9167,84X730,Bronx Charter School for the Arts,2019-20,523,0,51,50,53,52,55,...,0.009560,0,0.000000,117,0.223709,69,0.132,453,86.6%,89.2%
9168,84X730,Bronx Charter School for the Arts,2020-21,626,0,38,52,53,55,55,...,0.006390,1,0.001597,153,0.244409,78,0.125,541,86.4%,88.2%

Index(['dbn', 'school_name', 'year', 'total_enrollment',
       'grade_3k_pk_half_day_full', 'grade_k', 'grade_1', 'grade_2', 'grade_3',
       'grade_4', 'grade_5', 'grade_6', 'grade_7', 'grade_8', 'grade_9',
       'grade_10', 'grade_11', 'grade_12', 'female', 'female_1', 'male',
       'male_1', 'asian', 'asian_1', 'black', 'black_1', 'hispanic',
       'hispanic_1', 'multi_racial', 'multi_racial_1', 'native_american',
       'native_american_1', 'white', 'white_1', 'missing_race_ethnicity_data',
       'missing_race_ethnicity_data_1', 'students_with_disabilities',
       'students_with_disabilities_1', 'english_language_learners',
       'english_language_learners_1', 'poverty', 'poverty_1',
       'economic_need_index'],
      dtype='object')

,dbn,school_name,year,total_enrollment,grade_3k_pk_half_day_full,grade_k,grade_1,grade_2,grade_3,grade_4,...,white_1,missing_race_ethnicity_data,missing_race_ethnicity_data_1,students_with_disabilities,students_with_disabilities_1,english_language_learners,english_language_learners_1,poverty,poverty_1,economic_need_index
0,01M015,P.S. 015 Roberto Clemente,2016-17,178,17,28,33,27,31,24,...,0.022,0,0.0,51,0.287,12,0.067,152,85.4%,88.2%
1,01M015,P.S. 015 Roberto Clemente,2017-18,190,17,28,32,33,23,31,...,0.032,0,0.0,49,0.258,8,0.042,161,84.7%,89.0%
2,01M015,P.S. 015 Roberto Clemente,2018-19,174,13,20,33,30,30,20,...,0.034,0,0.0,39,0.224,8,0.046,147,84.5%,88.8%
3,01M015,P.S. 015 Roberto Clemente,2019-20,190,14,29,28,38,33,29,...,0.047,0,0.0,46,0.242,17,0.089,155,81.6%,86.7%
4,01M015,P.S. 015 Roberto Clemente,2020-21,193,17,29,29,27,30,32,...,0.057,0,0.0,43,0.223,21,0.109,158,81.9%,85.6%

,dbn,school_name,year,total_enrollment,grade_3k_pk_half_day_full,grade_k,grade_1,grade_2,grade_3,grade_4,...,white_1,missing_race_ethnicity_data,missing_race_ethnicity_data_1,students_with_disabilities,students_with_disabilities_1,english_language_learners,english_language_learners_1,poverty,poverty_1,economic_need_index
9164,84X730,Bronx Charter School for the Arts,2016-17,320,0,53,53,55,52,53,...,0.009375,0,0.000000,67,0.209375,51,0.159,235,73.4%,84.0%
9165,84X730,Bronx Charter School for the Arts,2017-18,314,0,50,51,54,51,52,...,0.003185,0,0.000000,68,0.216561,57,0.182,258,82.2%,89.1%
9166,84X730,Bronx Charter School for the Arts,2018-19,430,0,49,54,49,54,51,...,0.006977,0,0.000000,103,0.239535,71,0.165,363,84.4%,88.8%
9167,84X730,Bronx Charter School for the Arts,2019-20,523,0,51,50,53,52,55,...,0.009560,0,0.000000,117,0.223709,69,0.132,453,86.6%,89.2%
9168,84X730,Bronx Charter School for the Arts,2020-21,626,0,38,52,53,55,55,...,0.006390,1,0.001597,153,0.244409,78,0.125,541,86.4%,88.2%

Data Dictionary
=============

From the `df.columns` call, we see all of the columns for our data. Here
are the columns with some information on the type of data they contain. For more
detailed information on these fields, see the first tab in the [Demographic Data
Spreadsheet](https://infohub.nyced.org/docs/default-source/default-document-library/demographic-snapshot-2016-17-to-2020-21---public.xlsx)

- **dbn:** `text` data with the unique id of the school used by NYC DOE. _dbn_
  is in the format [district][boro][school number], for example '01M015'
  represents "district 1" in "Manhattan", "number 15." 
  - _X_ - Bronx
  - _K_ - Brooklyn
  - _M_ - Manhattan
  - _Q_ - Queens
  - _R_ - Staten Island
  
  Districts 1-32 represent geographic school districts in the city. [District 75](https://www.schools.nyc.gov/learning/special-education/school-settings/district-75) supports students with highly specialized needs that cannot be met in the regular school special education program. [District 79](https://www.schools.nyc.gov/learning/special-education/school-settings/district-75) is the alternative school district for older students, students with interrupted education, court-involved yout, etc. [District 84]() designates public charter schools operating within the DOE.
- **school_name:** `text` the full name of the school, e.g. 'P.S. 015 Roberto
  Clemente'. Elementary schools are usually called PS 15, PS 143, etc. They
  often have a descriptive name, too, like Roberto Clemente. Middle schools are
  _usually_ MS 915, but sometimes they are called IS 915.
- **year:** `text`, the academic year in the format yyyy-yy, e.g. '2020-21'
- **total_enrollment:** `integer` the total number of students in the school
- **grade_3k_pk_half_day_full:** `integer` the total number of students in the school in early childhood "3K" or "pre-k"
- **[grade_k..grade_12:]** `integer` each of these columns is the number of students in each grade at the school
- **female:** : `integer` total female students at the school
- **female_1:** `real` the percent of female students as a real number between 0 and 1
- **male:** : `integer` total female students at the school
- **male_1:** `real` the percent of male students as a real number between 0 and 1
- **asian:** `integer` total Asian students at the school
- **asian_1:** `real` the percent of Asian students as a real number between 0 and 1
- **black:** `integer` total Black students at the school
- **black_1:** `real` the percent of Black students as a real number between 0 and 1
- **hispanic:** `integer` total Latinx students at the school
- **hispanic_1:** `real` the percent of Latinx students as a real number between 0 and 1
- **multi_racial:** `integer` total multi-racial students at the school
- **multi_racial_1:** `real` the percent of multi-racial students as a real number between 0 and 1
- **native_american:** `integer` total Native American students at the school
- **native_american_1:** `real` the percent of Native American students as a real number between 0 and 1
- **white:** `integer` total White students at the school
- **white_1:** `real` the percent of White students as a real number between 0 and 1
- **missing_race_ethnicity_data:** `integer` total number of students with missing race/ethnic data
- **missing_race_ethnicity_data_1:** `real` the percent of students with missing race/ethnic data as a real number between 0 and 1
- **students_with_disabilities:** `integer` total number of students with
  disabilities (sometimes written SWD) in the schools. This counts the number of
  students with an IEP (individualized education plan) in special education at
  the school. ([more info about special ed and IEPs](https://www.schools.nyc.gov/learning/special-education/preschool-to-age-21/special-education-in-nyc))
- **students_with_disabilities_1:** `real` the percent of SWDs as a real number between 0 and 1
- **english_language_learners:** `integer` total number of students with who are
  characterized as English Language Learners (sometimes written ELL, but also
  ENL or ESL students) in the schools. This counts the number of students who
  receive modified instruction either through English as a New Language
  instruction and/or bilingual education.([more info on how NYC identifies ELLs](https://www.schools.nyc.gov/learning/multilingual-learners/english-language-learners))
- **english_language_learners_1:** `real` the percent of ENL students as a real number between 0 and 1
- **poverty:** `text` the number of students who qualify for free or reduced
  lunch or HRA benefits. The raw data for this field is `text` data because the
  actual enrollment for schools with greater than 95% poverty rates is not
  returned, instead the string ''
- **poverty_1:** `text` the percent of students in poverty. The poverty
  percentage is a string percentage rounded to one decimal place (e.g. '94.4%'),
  except the highest and lowest values are changed to 'Below 5%' and 'Above
  95%'.
- **economic_need_index:** `text` Economic Need Index (ENI) estimates the
  percentage of students in the school living in poverty. The ENI is a string
  percentage rounded to one decimal place (e.g. '94.4%'), except the highest and
  lowest values are changed to 'Below 5%' and 'Above 95%'.

We can access just one column using index notation -- 
`df["poverty"]` gives us just that column. We can then display or sort the data using either
the python built-in function `sorted()` or the pandas `Series` function `sort_values()`.
If we call `unique()` we will get a list of the unique values in the `Series`. In the case
of `poverty` that lets us see that the column contains string data, and not raw numbers
if the poverty level is too high or too low.

In [4]:
# get just the poverty column
poverty = df["poverty"]
poverty = poverty.sort_values()
print("Note these are sorted as strings, not number value...")
print(poverty.unique()) 

sorted(poverty.unique(), reverse=True)

Note these are sorted as strings, not number value...
['10' '100' '1000' ... '997' 'Above 95%' 'Below 5%']

['Below 5%',
 'Above 95%',
 '997',
 '995',
 '994',
 '993',
 '99',
 '987',
 '983',
 '980',
 '98',
 '979',
 '978',
 '977',
 '976',
 '975',
 '974',
 '971',
 '970',
 '97',
 '967',
 '966',
 '965',
 '964',
 '963',
 '962',
 '961',
 '960',
 '96',
 '959',
 '958',
 '957',
 '956',
 '955',
 '953',
 '952',
 '951',
 '95',
 '949',
 '948',
 '947',
 '946',
 '944',
 '943',
 '941',
 '940',
 '94',
 '938',
 '937',
 '936',
 '935',
 '934',
 '933',
 '932',
 '931',
 '930',
 '93',
 '929',
 '928',
 '927',
 '925',
 '923',
 '922',
 '921',
 '92',
 '918',
 '917',
 '916',
 '914',
 '912',
 '911',
 '910',
 '91',
 '909',
 '907',
 '906',
 '905',
 '904',
 '903',
 '902',
 '901',
 '900',
 '90',
 '898',
 '896',
 '895',
 '894',
 '893',
 '892',
 '891',
 '89',
 '889',
 '888',
 '886',
 '885',
 '884',
 '883',
 '882',
 '881',
 '880',
 '88',
 '878',
 '877',
 '876',
 '874',
 '873',
 '872',
 '871',
 '870',
 '87',
 '869',
 '868',
 '867',
 '866',
 '864',
 '863',
 '862',
 '861',
 '860',
 '86',
 '859',
 '858',
 '857',
 '856',
 '855',
 '854',
 '853',
 '852',
 '851',
 '850',
 '85',
 '847',
 '846',
 '845',
 '844',
 '843',
 '842',
 '841',
 '840',
 '84',
 '839',
 '838',
 '837',
 '835',
 '834',
 '833',
 '832',
 '831',
 '830',
 '83',
 '829',
 '828',
 '827',
 '826',
 '825',
 '823',
 '822',
 '821',
 '820',
 '82',
 '819',
 '815',
 '814',
 '813',
 '812',
 '811',
 '810',
 '81',
 '809',
 '808',
 '807',
 '806',
 '805',
 '804',
 '802',
 '801',
 '800',
 '80',
 '799',
 '797',
 '796',
 '795',
 '794',
 '793',
 '792',
 '791',
 '790',
 '79',
 '789',
 '788',
 '787',
 '786',
 '784',
 '783',
 '781',
 '780',
 '78',
 '779',
 '778',
 '777',
 '776',
 '775',
 '774',
 '773',
 '772',
 '771',
 '770',
 '77',
 '769',
 '768',
 '767',
 '765',
 '764',
 '763',
 '762',
 '761',
 '760',
 '76',
 '759',
 '758',
 '757',
 '756',
 '755',
 '754',
 '753',
 '752',
 '751',
 '750',
 '75',
 '749',
 '748',
 '747',
 '746',
 '745',
 '744',
 '743',
 '742',
 '741',
 '740',
 '74',
 '739',
 '738',
 '737',
 '736',
 '735',
 '734',
 '733',
 '732',
 '731',
 '730',
 '73',
 '729',
 '728',
 '727',
 '725',
 '724',
 '723',
 '722',
 '721',
 '720',
 '72',
 '718',
 '717',
 '716',
 '715',
 '714',
 '713',
 '712',
 '711',
 '710',
 '71',
 '709',
 '708',
 '707',
 '706',
 '705',
 '703',
 '702',
 '701',
 '700',
 '70',
 '699',
 '698',
 '697',
 '696',
 '695',
 '694',
 '693',
 '692',
 '691',
 '690',
 '69',
 '689',
 '688',
 '687',
 '686',
 '685',
 '684',
 '683',
 '682',
 '681',
 '680',
 '68',
 '679',
 '678',
 '677',
 '676',
 '675',
 '674',
 '673',
 '671',
 '670',
 '67',
 '669',
 '668',
 '667',
 '666',
 '665',
 '664',
 '663',
 '662',
 '661',
 '660',
 '66',
 '659',
 '658',
 '657',
 '656',
 '655',
 '654',
 '653',
 '652',
 '651',
 '650',
 '65',
 '649',
 '648',
 '647',
 '646',
 '645',
 '644',
 '643',
 '642',
 '641',
 '640',
 '64',
 '639',
 '638',
 '637',
 '636',
 '635',
 '634',
 '633',
 '632',
 '631',
 '630',
 '63',
 '629',
 '628',
 '627',
 '626',
 '625',
 '624',
 '623',
 '622',
 '621',
 '620',
 '62',
 '619',
 '618',
 '617',
 '616',
 '615',
 '614',
 '613',
 '612',
 '611',
 '610',
 '61',
 '609',
 '608',
 '607',
 '606',
 '605',
 '604',
 '603',
 '602',
 '601',
 '600',
 '60',
 '599',
 '598',
 '597',
 '596',
 '595',
 '594',
 '593',
 '592',
 '591',
 '590',
 '59',
 '589',
 '588',
 '587',
 '586',
 '585',
 '584',
 '583',
 '582',
 '581',
 '580',
 '58',
 '579',
 '578',
 '577',
 '576',
 '575',
 '574',
 '573',
 '572',
 '571',
 '570',
 '57',
 '569',
 '568',
 '567',
 '566',
 '565',
 '564',
 '563',
 '562',
 '561',
 '560',
 '56',
 '559',
 '558',
 '557',
 '556',
 '555',
 '554',
 '553',
 '552',
 '551',
 '550',
 '55',
 '549',
 '548',
 '547',
 '546',
 '545',
 '544',
 '543',
 '542',
 '541',
 '540',
 '54',
 '539',
 '538',
 '537',
 '536',
 '535',
 '534',
 '533',
 '532',
 '531',
 '530',
 '53',
 '529',
 '528',
 '527',
 '526',
 '525',
 '524',
 '523',
 '522',
 '521',
 '520',
 '52',
 '519',
 '518',
 '517',
 '516',
 '515',
 '514',
 '513',
 '512',
 '511',
 '510',
 '51',
 '509',
 '508',
 '507',
 '506',
 '505',
 '504',
 '503',
 '502',
 '501',
 '500',
 '50',
 '5',
 '499',
 '498',
 '497',
 '496',
 '495',
 '494',
 '493',
 '492',
 '491',
 '490',
 '49',
 '489',
 '488',
 '487',
 '486',
 '485',
 '484',
 '483',
 '482',
 '481',
 '480',
 '48',
 '479',
 '478',
 '477',
 '476',
 '475',
 '474',
 '473',
 '472',
 '471',
 '470',
 '47',
 '469',
 '468',
 '467',
 '466',
 '465',
 '464',
 '463',
 '462',
 '461',
 '460',
 '46',
 '459',
 '458',
 '457',
 '456',
 '455',
 '454',
 '453',
 '452',
 '451',
 '450',
 '45',
 '449',
 '448',
 '447',
 '446',
 '445',
 '444',
 '443',
 '442',
 '441',
 '440',
 '44',
 '439',
 '438',
 '437',
 '436',
 '435',
 '434',
 '433',
 '432',
 '431',
 '430',
 '43',
 '429',
 '428',
 '427',
 '426',
 '425',
 '424',
 '423',
 '422',
 '421',
 '420',
 '42',
 '419',
 '418',
 '417',
 '416',
 '415',
 '414',
 '413',
 '412',
 '411',
 '410',
 '41',
 '409',
 '408',
 '407',
 '406',
 '405',
 '404',
 '403',
 '402',
 '401',
 '400',
 '40',
 '4',
 '399',
 '398',
 '397',
 '396',
 '395',
 '394',
 '393',
 '392',
 '391',
 '390',
 '39',
 '389',
 '388',
 '387',
 '386',
 '385',
 '384',
 '383',
 '382',
 '381',
 '380',
 '38',
 '379',
 '378',
 '377',
 '376',
 '375',
 '374',
 '373',
 '372',
 '371',
 '370',
 '37',
 '369',
 '368',
 '367',
 '366',
 '3655',
 '365',
 '364',
 '363',
 '362',
 '361',
 '360',
 '36',
 '359',
 '358',
 '3579',
 '357',
 '356',
 '3551',
 '355',
 '354',
 '353',
 '352',
 '351',
 '350',
 '35',
 '3495',
 '349',
 '348',
 '3473',
 '347',
 '346',
 '345',
 '344',
 '343',
 '342',
 '341',
 '340',
 '34',
 '3393',
 '339',
 '338',
 '337',
 '336',
 '3350',
 '335',
 '3344',
 '334',
 '3338',
 '333',
 '332',
 '3313',
 '331',
 '3301',
 '330',
 '33',
 '329',
 '328',
 '327',
 '326',
 '325',
 '324',
 '323',
 '322',
 '321',
 '320',
 '319',
 '318',
 '317',
 '316',
 '3156',
 '315',
 '3148',
 '314',
 '313',
 '312',
 '311',
 '3107',
 '310',
 '31',
 '309',
 '3089',
 '308',
 '307',
 '306',
 '3057',
 '3053',
 '305',
 '304',
 '303',
 '302',
 '301',
 '300',
 '30',
 '2999',
 '299',
 '298',
 '2974',
 '2971',
 '297',
 '296',
 '295',
 '294',
 '293',
 '292',
 '2918',
 '291',
 '290',
 '29',
 '2897',
 '289',
 '288',
 '2877',
 '2874',
 '287',
 '286',
 '2852',
 '285',
 '2845',
 '284',
 '2830',
 '283',
 '282',
 '281',
 '2808',
 '2804',
 '2800',
 '280',
 '28',
 '279',
 '278',
 '2775',
 '2773',
 '277',
 '276',
 '2753',
 '275',
 '2743',
 '274',
 '2732',
 '273',
 '272',
 '2712',
 '271',
 '270',
 '27',
 '2697',
 '2690',
 '269',
 '2680',
 '268',
 '2678',
 '267',
 '266',
 '2651',
 '265',
 '264',
 '2639',
 '2634',
 '263',
 '2629',
 '2622',
 '262',
 '261',
 '2607',
 '260',
 '2597',
 '2596',
 '259',
 '2588',
 '2583',
 '258',
 '257',
 '2561',
 '256',
 '255',
 '2547',
 '254',
 '2538',
 '253',
 '252',
 '251',
 '2503',
 '250',
 '25',
 '249',
 '2488',
 '2485',
 '248',
 '2473',
 '247',
 '246',
 '245',
 '244',
 '243',
 '242',
 '241',
 '240',
 '24',
 '2396',
 '239',
 '238',
 '237',
 '236',
 '235',
 '234',
 '2331',
 '233',
 '232',
 '231',
 '2308',
 '230',
 '23',
 '2295',
 '229',
 '228',
 '2275',
 '2273',
 '227',
 '226',
 '225',
 '2247',
 '224',
 '223',
 '222',
 '221',
 '220',
 '22',
 '2191',
 '219',
 '218',
 '217',
 '216',
 '215',
 '214',
 '213',
 '212',
 '211',
 '2104',
 '2102',
 '210',
 '2092',
 '209',
 '208',
 '207',
 '206',
 '2051',
 '205',
 '204',
 '2036',
 '203',
 '2022',
 '202',
 '201',
 '2003',
 '200',
 '20',
 '1996',
 '199',
 '1984',
 '1980',
 '198',
 '1974',
 '197',
 '1966',
 '196',
 '1951',
 '195',
 '1944',
 '1942',
 '194',
 '1932',
 '193',
 '1926',
 '1923',
 '192',
 '191',
 '1905',
 '1902',
 '190',
 '19',
 '1899',
 '189',
 '1889',
 '188',
 '187',
 '1865',
 '1864',
 '186',
 '1854',
 '185',
 '1846',
 '1844',
 '1841',
 '184',
 '1832',
 '183',
 '1826',
 '1821',
 '182',
 '1817',
 '181',
 '1808',
 '1805',
 '180',
 '179',
 '1781',
 '178',
 '1778',
 '1774',
 '177',
 '1766',
 '176',
 '175',
 '1741',
 '174',
 '1733',
 '173',
 '172',
 '1714',
 '171',
 '170',
 '17',
 '1690',
 '169',
 '1683',
 '1682',
 '1680',
 '168',
 '1673',
 '167',
 '166',
 '1659',
 '165',
 '1647',
 '1641',
 '164',
 '1635',
 '163',
 '162',
 '1616',
 '1614',
 '1612',
 '161',
 '160',
 '16',
 '1596',
 '159',
 '1589',
 '1588',
 '158',
 '1571',
 '1570',
 '157',
 '1569',
 '1565',
 ...]

We can get a subset of the data by using index notation with
a list of column names:

`df[ ["dbn", "school_name", "total_enrollment", "poverty_1" ] ]` returns a `DataFrame`
with 4 columns.

In [5]:
df[ ["dbn", "school_name", "total_enrollment", "poverty_1" ] ]

         dbn                        school_name  total_enrollment poverty_1
0     01M015          P.S. 015 Roberto Clemente               178     85.4%
1     01M015          P.S. 015 Roberto Clemente               190     84.7%
2     01M015          P.S. 015 Roberto Clemente               174     84.5%
3     01M015          P.S. 015 Roberto Clemente               190     81.6%
4     01M015          P.S. 015 Roberto Clemente               193     81.9%
...      ...                                ...               ...       ...
9164  84X730  Bronx Charter School for the Arts               320     73.4%
9165  84X730  Bronx Charter School for the Arts               314     82.2%
9166  84X730  Bronx Charter School for the Arts               430     84.4%
9167  84X730  Bronx Charter School for the Arts               523     86.6%
9168  84X730  Bronx Charter School for the Arts               626     86.4%

[9169 rows x 4 columns]

We can run some basic statistics on a single series, to get a sense of the type of data it contains.

In [6]:
# get just the total_enrollment column, called a Series in pandas
enrollment = df["total_enrollment"]
print("The largest school:", enrollment.max())

print("The smallest school:", enrollment.min())
print("Avg (mean) school size:", enrollment.mean())
print("Avg (mode, can return multiple values) percent poverty:", list(df['poverty_1'].mode()))
print("School years included in data:", df["year"].unique())

The largest school: 6040
The smallest school: 7
Avg (mean) school size: 585.9556112989421
Avg (mode, can return multiple values) percent poverty: ['Above 95%']
School years included in data: ['2016-17' '2017-18' '2018-19' '2019-20' '2020-21']