In [2]:
%load_ext autoreload
%autoreload 2

import pandas as pd
from nycschools import schools, exams, ui, geo

In [17]:
import os
import os.path
tmp = "/home/mxc/Projects/school-data-portal/data-share/tmp/"
files = os.listdir(tmp)
files

def read(f):
    try:
        return pd.read_csv(f)
    except:
        return pd.read_excel(f)

files = [os.path.join(tmp,f) for f in files]
data = [read(f) for f in files]
data[0]

# nysed = pd.concat([read_nysed_exam_excel(f) for f in files])
# return nysed

,SY_END_DATE,BEDSCODE,NAME,ITEM_SUBJECT_AREA,ITEM_DESC,SUBGROUP_CODE,subgroup_name,TOTAL_ENROLLED,TOTAL_NOT_TESTED,TOTAL_TESTED,L1_COUNT,L1_PCT,L2_COUNT,L2_PCT,L3_COUNT,L3_PCT,L4_COUNT,L4_PCT,L3-L4_PCT,MEAN_SCALE_SCORE
0,2021-06-30,10100010000,ALBANY CITY SCHOOL DISTRICT,ELA,Grade 3 ELA,1,All Students,632,327,305,79,26%,110,36%,87,29%,29,10%,38%,592
1,2021-06-30,10100010000,ALBANY CITY SCHOOL DISTRICT,ELA,Grade 3 ELA,2,Female,324,157,167,36,22%,64,38%,51,31%,16,10%,40%,593
2,2021-06-30,10100010000,ALBANY CITY SCHOOL DISTRICT,ELA,Grade 3 ELA,3,Male,308,170,138,43,31%,46,33%,36,26%,13,9%,36%,589
3,2021-06-30,10100010000,ALBANY CITY SCHOOL DISTRICT,ELA,Grade 3 ELA,10,General Education Students,536,273,263,59,22%,92,35%,83,32%,29,11%,43%,594
4,2021-06-30,10100010000,ALBANY CITY SCHOOL DISTRICT,ELA,Grade 3 ELA,11,Students with Disabilities,96,54,42,20,48%,18,43%,4,10%,0,0%,10%,577
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
582645,2021-06-30,680801040002,DUNDEE ELEMENTARY SCHOOL,Mathematics,Grade 8 Math,12,Non-English Language Learner,1,1,0,0,NaN,0,NaN,0,NaN,0,NaN,NaN,NaN
582646,2021-06-30,680801040002,DUNDEE ELEMENTARY SCHOOL,Mathematics,Grade 8 Math,23,Not in Foster Care,1,1,0,0,NaN,0,NaN,0,NaN,0,NaN,NaN,NaN
582647,2021-06-30,680801040002,DUNDEE ELEMENTARY SCHOOL,Mathematics,Grade 8 Math,21,Not Homeless,1,1,0,0,NaN,0,NaN,0,NaN,0,NaN,NaN,NaN
582648,2021-06-30,680801040002,DUNDEE ELEMENTARY SCHOOL,Mathematics,Grade 8 Math,18,Not Migrant,1,1,0,0,NaN,0,NaN,0,NaN,0,NaN,NaN,NaN
582649,2021-06-30,680801040002,DUNDEE ELEMENTARY SCHOOL,Mathematics,Grade 8 Math,25,Parent Not in Armed Forces,1,1,0,0,NaN,0,NaN,0,NaN,0,NaN,NaN,NaN

In [56]:
a = set(data[2].columns)
b = set(data[1].columns)
c = set(data[3].columns)
d = set(data[4].columns)
e = set([c.upper() for c in data[0].columns])
x = a.intersection(e)

# in a but not e
a.difference(x)

{'COUNTY_CODE', 'COUNTY_DESC', 'L2-L4_PCT', 'NRC_CODE', 'NRC_DESC'}

In [59]:
# in e but not the rest
e.difference(x)

{'TOTAL_ENROLLED', 'TOTAL_NOT_TESTED'}

In [58]:
x

{'BEDSCODE',
 'ITEM_DESC',
 'ITEM_SUBJECT_AREA',
 'L1_COUNT',
 'L1_PCT',
 'L2_COUNT',
 'L2_PCT',
 'L3-L4_PCT',
 'L3_COUNT',
 'L3_PCT',
 'L4_COUNT',
 'L4_PCT',
 'MEAN_SCALE_SCORE',
 'NAME',
 'SUBGROUP_CODE',
 'SUBGROUP_NAME',
 'SY_END_DATE',
 'TOTAL_TESTED'}

In [ ]:
filename = "/home/mxc/Projects/school-data-portal/data-share/tmp/3-8_ELA_AND_MATH_RESEARCHER_FILE_2019.xlsx"
df = exams.read_nysed_exam_excel(filename)

In [12]:
df.level_1_n.max()

61151

In [5]:
nysed = pd.read_excel(filename)
nysed.columns = [c.upper() for c in nysed.columns]
nysed

,SY_END_DATE,NRC_CODE,NRC_DESC,COUNTY_CODE,COUNTY_DESC,BEDSCODE,NAME,ITEM_SUBJECT_AREA,ITEM_DESC,SUBGROUP_CODE,...,L1_PCT,L2_COUNT,L2_PCT,L3_COUNT,L3_PCT,L4_COUNT,L4_PCT,L2-L4_PCT,L3-L4_PCT,MEAN_SCALE_SCORE
0,2019-06-30,NaN,NaN,NaN,NaN,0,STATEWIDE - ALL DISTRICTS AND CHARTERS,ELA,Grade 3 ELA,1,...,0.15,55837,0.32,77771,0.45,12183,0.07,0.85,0.52,600
1,2019-06-30,NaN,NaN,NaN,NaN,0,STATEWIDE - ALL DISTRICTS AND CHARTERS,ELA,Grade 3 ELA,2,...,0.13,26224,0.31,40751,0.48,7124,0.08,0.87,0.56,602
2,2019-06-30,NaN,NaN,NaN,NaN,0,STATEWIDE - ALL DISTRICTS AND CHARTERS,ELA,Grade 3 ELA,3,...,0.18,29613,0.34,37020,0.42,5059,0.06,0.82,0.48,598
3,2019-06-30,NaN,NaN,NaN,NaN,0,STATEWIDE - ALL DISTRICTS AND CHARTERS,ELA,Grade 3 ELA,4,...,0.15,450,0.37,499,0.41,80,0.07,0.85,0.48,599
4,2019-06-30,NaN,NaN,NaN,NaN,0,STATEWIDE - ALL DISTRICTS AND CHARTERS,ELA,Grade 3 ELA,5,...,0.21,10264,0.34,11721,0.39,1668,0.06,0.79,0.45,596
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565813,2019-06-30,4.0,Rural High Needs,68.0,YATES,680801040002,DUNDEE ELEMENTARY SCHOOL,Mathematics,Grade 6 Math,21,...,-,-,-,-,-,-,-,-,-,-
565814,2019-06-30,4.0,Rural High Needs,68.0,YATES,680801040002,DUNDEE ELEMENTARY SCHOOL,Mathematics,Grade 6 Math,22,...,-,-,-,-,-,-,-,-,-,-
565815,2019-06-30,4.0,Rural High Needs,68.0,YATES,680801040002,DUNDEE ELEMENTARY SCHOOL,Mathematics,Grade 6 Math,23,...,-,-,-,-,-,-,-,-,-,-
565816,2019-06-30,4.0,Rural High Needs,68.0,YATES,680801040002,DUNDEE ELEMENTARY SCHOOL,Mathematics,Grade 6 Math,24,...,-,-,-,-,-,-,-,-,-,-
565817,2019-06-30,4.0,Rural High Needs,68.0,YATES,680801040002,DUNDEE ELEMENTARY SCHOOL,Mathematics,Grade 6 Math,25,...,-,-,-,-,-,-,-,-,-,-

In [6]:
nysed.columns

Index(['SY_END_DATE', 'NRC_CODE', 'NRC_DESC', 'COUNTY_CODE', 'COUNTY_DESC',
       'BEDSCODE', 'NAME', 'ITEM_SUBJECT_AREA', 'ITEM_DESC', 'SUBGROUP_CODE',
       'SUBGROUP_NAME', 'TOTAL_TESTED', 'L1_COUNT', 'L1_PCT', 'L2_COUNT',
       'L2_PCT', 'L3_COUNT', 'L3_PCT', 'L4_COUNT', 'L4_PCT', 'L2-L4_PCT',
       'L3-L4_PCT', 'MEAN_SCALE_SCORE'],
      dtype='object')

In [20]:
df = exams.load_math_ela_long()
df.columns

Index(['dbn', 'grade', 'category', 'number_tested', 'mean_scale_score',
       'level_1_n', 'level_1_pct', 'level_2_n', 'level_2_pct', 'level_3_n',
       'level_3_pct', 'level_4_n', 'level_4_pct', 'level_3_4_n',
       'level_3_4_pct', 'test_year', 'ay', 'charter', 'school_name', 'exam'],
      dtype='object')