In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import folium
from folium.map import Element
import seaborn as sns
from IPython.display import Markdown as md
from IPython.display import display, HTML

from nycschools import schools, geo, ui

# load all of the data and clean it up
loc = geo.load_school_locations()
districts = geo.load_districts()
df = schools.load_school_demographics()

df = df[df.ay == df.ay.max()]


# merge school locations and demographics
# get only the demo columns that aren't in locations already
cols = ["dbn"] + list(set(df.columns) - set(loc.columns))
data = loc.merge(df[cols], on="dbn", how="inner")
data.columns

Index(['dbn', 'zip', 'geo_district', 'district', 'x', 'y',
       'administrative_district_code', 'administrative_district_name', 'beds',
       'borough_block_lot', 'census_tract', 'community_district',
       'community_district_1', 'community_school_sup_name', 'council_district',
       'fax_number', 'fiscal_year', 'geographical_district_code',
       'grades_final_text', 'grades_text', 'highschool_network',
       'highschool_network_location', 'highschool_network_name', 'latitude',
       'location_category_description', 'location_code', 'location_name',
       'location_type_description', 'longitude', 'managed_by_name', 'nta',
       'nta_name', 'open_date', 'police_precinct', 'primary_building_code',
       'principal_name', 'principal_phone_number', 'principal_title',
       'state_code', 'status_descriptions', 'geometry', 'male_pct', 'grade_4',
       'ay', 'grade_11', 'grade_6', 'asian_n', 'short_name', 'white_n',
       'hispanic_pct', 'multi_racial_pct', 'grade_5', 'poverty_pct',
       'grade_3k_pk_half_day_full', 'grade_1', 'missing_race_ethnicity_data_n',
       'multi_racial_n', 'native_american_pct', 'boro', 'grade_3', 'black_pct',
       'year', 'asian_pct', 'eni_pct', 'swd_n', 'total_enrollment',
       'school_name', 'male_n', 'swd_pct', 'clean_name', 'ell_n', 'hispanic_n',
       'ell_pct', 'black_n', 'native_american_n', 'female_n', 'white_pct',
       'grade_8', 'grade_7', 'missing_race_ethnicity_data_pct', 'grade_2',
       'poverty_n', 'female_pct', 'grade_k', 'grade_10', 'grade_12',
       'grade_9'],
      dtype='object')

In [4]:
data[["dbn","location_code", "location_name"]]

         dbn location_code                                location_name
0     02M212          M212                        P.S. 212 Midtown West
1     29Q034          Q034                        P.S. 034 John Harvard
2     17K091          K091            P.S. 091 The Albany Avenue School
3     31R455          R455                      Tottenville High School
4     07X522          X522        Bronx Design and Construction Academy
...      ...           ...                                          ...
2699  15K124          K124                    P.S. 124 Silas B. Dutcher
2700  28Q161          Q161                  P.S. 161 Arthur Ashe School
2701  08X100          X100                        P.S. 100 Isaac Clason
2702  84M523          M523  Success Academy Charter School - Upper West
2703  29Q118          Q118                  P.S. 118 Lorraine Hansberry

[2704 rows x 3 columns]