In [3]:
import pandas as pd
from nycschools import schools, geo, ui

In [18]:
df = schools.load_school_demographics()
df.ay.unique()
cols = [c for c in df.columns if c.startswith(
    'grade') or c.endswith('_n') or c.endswith('_pct') or c in ["total_enrollment", "eni"]]
cols

['total_enrollment',
 'grade_pk',
 'grade_k',
 'grade_1',
 'grade_2',
 'grade_3',
 'grade_4',
 'grade_5',
 'grade_6',
 'grade_7',
 'grade_8',
 'grade_9',
 'grade_10',
 'grade_11',
 'grade_12',
 'female_n',
 'female_pct',
 'male_n',
 'male_pct',
 'asian_n',
 'asian_pct',
 'black_n',
 'black_pct',
 'hispanic_n',
 'hispanic_pct',
 'multi_racial_n',
 'multi_racial_pct',
 'native_american_n',
 'native_american_pct',
 'white_n',
 'white_pct',
 'missing_race_ethnicity_data_n',
 'missing_race_ethnicity_data_pct',
 'swd_n',
 'swd_pct',
 'ell_n',
 'ell_pct',
 'poverty_n',
 'poverty_pct',
 'eni']

In [30]:
data = df.sort_values("ay")
diff_cols = [c+"_diff" for c in cols]
data[diff_cols] = df[cols].diff()
data[["dbn","school_name", "ay","white_pct_diff"]].sort_values("white_pct_diff", ascending=False).head(10)

,dbn,school_name,ay,white_pct_diff
6928,22K195,P.S. 195 Manhattan Beach,2020,0.931391
6926,22K195,P.S. 195 Manhattan Beach,2018,0.913854
6930,22K195,P.S. 195 Manhattan Beach,2022,0.910508
8990,31R005,P.S. 005 Huguenot,2018,0.873350
8011,27Q114,P.S./M.S. 114 Belle Harbor,2019,0.851746
6929,22K195,P.S. 195 Manhattan Beach,2021,0.847415
1442,31R034,I.S. 034 Tottenville,2016,0.837000
1467,31R062,The Kathleen Grimm School for Leadership and S...,2016,0.837000
6927,22K195,P.S. 195 Manhattan Beach,2019,0.834412
6705,21K100,P.S. 100 The Coney Island School,2022,0.828272