In [5]:
from nycschools import nysed

df = nysed.load_nys_nysed()
df.head()

,index,school_name,beds,category,exam,grade,test_year,number_tested,total_enrollment,number_not_tested,...,level_2_pct,level_3_n,level_3_pct,level_4_n,level_4_pct,level_3_4_pct,mean_scale_score,subgroup_code,ay,level_3_4_n
0,0,ALBANY CITY SCHOOL DISTRICT,10100010000,All Students,ela,3,2021,305,632,327,...,0.36,87,0.29,29,0.10,0.38,592.0,1,2020,116
1,1,ALBANY CITY SCHOOL DISTRICT,10100010000,Female,ela,3,2021,167,324,157,...,0.38,51,0.31,16,0.10,0.40,593.0,2,2020,67
2,2,ALBANY CITY SCHOOL DISTRICT,10100010000,Male,ela,3,2021,138,308,170,...,0.33,36,0.26,13,0.09,0.36,589.0,3,2020,49
3,3,ALBANY CITY SCHOOL DISTRICT,10100010000,Not SWD,ela,3,2021,263,536,273,...,0.35,83,0.32,29,0.11,0.43,594.0,10,2020,112
4,4,ALBANY CITY SCHOOL DISTRICT,10100010000,SWD,ela,3,2021,42,96,54,...,0.43,4,0.10,0,0.00,0.10,577.0,11,2020,4